.container {
    height: 100vh;
    background: url(../assets/bg.svg) no-repeat center;
    background-size: cover;
}

header {
    display: flex;
    align-items: flex-end;
    height: 15%;
}

header .logo-container {
    background: url(../assets/logo.svg) no-repeat center;
    background-size: 100%;
    width: 270px;
    height: 56px;
    margin-left: 100px;
}

main {
    display: flex;
    align-items: center;
    height: 85%;
}

main .group-access {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 365px;
    height: 450px;
    margin-left: 100px;
    padding: 25px;
    background: rgba(249, 249, 249, 0.72);
    border-radius: 5px;
}

.group-access h2 {
    color: var(--color1);
    margin-bottom: 20px;
}

.group-access .container-login .container-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-access .container-login .container-data:first-child {
    margin-bottom: 10px;
}

.group-access .container-login .container-data input {
    height: 35px;
    border-radius: 5px;
    border: 2px solid #A1B2CD;
    background: transparent;
    font-size: 14px;
    outline: none;
    padding: 0 5px;
}

.group-access .container-login .container-data input.active {
    height: 40px;
    border: 2px solid var(--color1);
}

.group-access .container-login .container-data label {
    color: #0c3049;
    font-weight: 500;
}

.group-access .container-login .enter-button {
    width: 100%;
    height: 40px;
    margin-top:20px;
    border-radius: 5px;
    border: none;
    background: var(--color2);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Archivo';
    cursor: pointer;
}

.group-access .container-login .enter-button:hover {
    background: #44e833;
}

.group-access .signUp .signUp-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid var(--color1);
    font-family: 'Archivo';
    font-size: 16px;
    font-weight: 500;
    color: var(--color1);
    cursor: pointer;
}

.group-access .signUp .signUp-action:hover {
    background: #fcfcfc;
}